body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.min-h-screen {
    min-height: 89.5vh;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.color-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: move;
    transition: transform 0.2s ease;
}

.color-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 24px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    padding: 8px;
}

.color-block:hover .button {
    opacity: 1;
}

.lock-btn {
    font-size: 24px;
}

.color-info {
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}

.color-hex {
    font-size: 30px;
    bottom: 60px;
    left: 50px;
    font-weight: 500;
}

.color-name {
    font-size: 14px;
}

.add-color-btn {
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;
}

#color-palette:hover {
    opacity: 1;
}

.dragging {
    opacity: 0.5;
}

.fas {
    font-size: inherit; 
}

.delete-btn, .lock-btn, .drag-btn {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.copy-btn {
    font-size: 24px;
}

.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    max-height: 8vh;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    color: #000;
}

.header h2.instruction {
    color: lightslategrey;
    font-size: 20px;
    margin-left: 50px;
    font-weight: 500;
}
